@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@import '../../vendor/filament/support/resources/css/index.css';
@import '../../vendor/filament/actions/resources/css/index.css';
@import '../../vendor/filament/forms/resources/css/index.css';
@import '../../vendor/filament/infolists/resources/css/index.css';
@import '../../vendor/filament/schemas/resources/css/index.css';
@import '../../vendor/filament/tables/resources/css/index.css';
@import '../../vendor/filament/widgets/resources/css/index.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.vue';

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --color-purple-dark: #532D52;
    --color-primary: #902C8E;
    --color-secondary: #E9BD62;
    --color-accent-light: #FAF4FA;
}

@variant dark (&:where(.dark, .dark *));

